.navbar-brand {
    color: #ec008c !important;
    font-family: 'Purple Purse', cursive;
}
nav {
    background-color: #FFD3E4 !important;
}
.pink_color {
    background-color: #ec008c !important;
}
.purple_color {
    background-color:#7F4996 !important;
}